#task_1 {
	border-width: 5px;
	border-style: ridge;
	border-color: blue;
	width: 200px;
	height: 200px;
}

#task_2 {
	border-width: 5px;
	border-style: dotted;
	border-color: red;
	width: 200px;
	height: 200px;
}

#task_3 {
	border-width: 3px;
	border-style: dashed;
	border-color: yellow;
	width: 200px;
	height: 200px;
}

#task_4 {
	border-width: 11px;
	border-style: double;
	border-color: blue;
	width: 200px;
	height: 200px;
}



