#task_1 {
	background-image: url("bg.png");
}	

#task_2 {
	background-image: url("bg.png");
	background-repeat: repeat-y;
}	

#task_3 {
	background-image: url("bg.png");
	background-repeat: repeat-x;
}	





