#elem1 {
	display: block;
    background: yellowgreen;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

#elem2 {
	border: 2px solid yellowgreen;
    padding: 20px;
    margin: 75px auto;
    width: 1300px;
    text-align: justify;
    font: 16px Arial;

}

